{
  "openapi": "3.0.3",
  "info": {
    "title": "Rentalot API",
    "version": "1.0.0",
    "description": "REST API for Rentalot -- an AI-powered rental agent platform that manages inquiry response, showing scheduling, messaging, and follow-ups across WhatsApp, Telegram, SMS, and Gmail.\n\n## Authentication\nAll endpoints require a Bearer token (API key) in the `Authorization` header. Generate API keys in the Rentalot dashboard under Settings > API Keys. Keys are prefixed with `ra_`.\n\n```\nAuthorization: Bearer ra_your_api_key_here\n```\n\n## Rate Limits\nEvery response includes rate limit headers:\n- `X-RateLimit-Limit` -- max requests per minute for your tier\n- `X-RateLimit-Remaining` -- requests remaining in the current window\n- `X-RateLimit-Reset` -- Unix timestamp when the window resets\n- `X-RateLimit-Resource` -- which resource the request counted against\n\nWhen rate limited (HTTP 429), a `Retry-After` header indicates seconds to wait.\n\n### Per-Tier Limits\n| Tier | Global RPM | Daily Requests | Write Access | Max Page Size | API Keys | Webhooks |\n|------|-----------|----------------|--------------|---------------|----------|----------|\n| Free Trial | -- | -- | No | -- | 0 | 0 |\n| Starter ($29/mo) | 30 | 5,000 | Read-only | 50 | 2 | 0 |\n| Pro ($79/mo) | 120 | 50,000 | Full CRUD | 100 | 5 | 10 |\n| Scale ($199/mo) | 600 | 500,000 | Full + Priority | 200 | 20 | 50 |\n\nWrite operations (POST, PATCH, DELETE) are only available on Pro and Scale tiers. Starter tier has read-only API access. Free Trial has no API access.\n\n### Per-Resource Write Limits (Pro / Scale)\n| Resource | WPM | Daily Writes | Monthly Writes |\n|----------|-----|-------------|----------------|\n| Properties | 20 / 60 | 200 / 1,000 | 5,000 / 25,000 |\n| Contacts | 15 / 40 | 150 / 500 | 3,000 / 10,000 |\n| Showings | 10 / 30 | 100 / 300 | 2,000 / 5,000 |\n| Messages | 5 / 15 | 50 / 200 | 500 / 3,000 |\n| Drafts | 10 / 30 | 50 / 200 | 1,000 / 5,000 |\n| Follow-ups | 5 / 15 | 30 / 100 | 500 / 2,000 |\n| Workflows | 5 / 15 | 30 / 100 | 500 / 2,000 |\n| Webhooks | 5 / 10 | 20 / 50 | 200 / 500 |\n\n## Pagination\nAll list endpoints support pagination with `page` (1-indexed) and `limit` (max 100) query parameters. Responses include a `pagination` object with `page`, `limit`, `total`, and `totalPages`.\n\n## Errors\nErrors follow a consistent format with a machine-readable `code` and human-readable `message`. Validation errors (422) include a `details` array with per-field messages.\n\n## Idempotency\nPOST endpoints support the `Idempotency-Key` header to prevent duplicate operations. Use a unique UUID for each request. Repeated requests with the same key return the original response.\n\n## Webhooks\nSubscribe to real-time events (inquiry.created, message.received, showing.booked, etc.) via webhook subscriptions. Payloads are signed with HMAC-SHA256 -- verify using the `X-Webhook-Signature` header and your webhook secret."
  },
  "servers": [
    {
      "url": "https://rentalot.ai",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "Properties",
      "description": "Manage rental property listings. CRUD operations for the property portfolio."
    },
    {
      "name": "Contacts",
      "description": "Create, view, and update prospect/tenant contacts."
    },
    {
      "name": "Conversations",
      "description": "Read-only access to messaging conversations and their message history."
    },
    {
      "name": "Showings",
      "description": "Schedule and manage property showings (viewings)."
    },
    {
      "name": "Events",
      "description": "Read-only access to all calendar events (showings, calls, inspections, meetings)."
    },
    {
      "name": "Messages",
      "description": "Send messages to contacts via their preferred channel."
    },
    {
      "name": "Drafts",
      "description": "Create, edit, and send draft messages. Drafts auto-expire after 24 hours."
    },
    {
      "name": "Follow-ups",
      "description": "Schedule automated follow-up messages for contacts."
    },
    {
      "name": "Workflows",
      "description": "View workflow templates and manage workflow runs (automated multi-step sequences)."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to real-time event notifications via HTTPS webhooks."
    },
    {
      "name": "Property Images",
      "description": "Upload, manage, and reorder property listing images via Cloudflare R2."
    },
    {
      "name": "Sessions",
      "description": "View and review pre-screening sessions (prospect submissions from public chat workflows)."
    },
    {
      "name": "Settings",
      "description": "Manage agent preferences, email notification settings, and follow-up automation configuration."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token. Generate keys in the Rentalot dashboard under Settings > API Keys. Keys are prefixed with `ra_`. Include as `Authorization: Bearer ra_...` header."
      }
    },
    "schemas": {
      "PropertyId": {
        "type": "string",
        "format": "uuid",
        "description": "Property UUID",
        "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      },
      "ContactId": {
        "type": "string",
        "format": "uuid",
        "description": "Contact UUID"
      },
      "ConversationId": {
        "type": "string",
        "format": "uuid",
        "description": "Conversation UUID"
      },
      "ShowingId": {
        "type": "string",
        "format": "uuid",
        "description": "Showing UUID"
      },
      "DraftId": {
        "type": "string",
        "format": "uuid",
        "description": "Draft UUID"
      },
      "FollowupId": {
        "type": "string",
        "format": "uuid",
        "description": "Follow-up UUID"
      },
      "WorkflowId": {
        "type": "string",
        "format": "uuid",
        "description": "Workflow template UUID"
      },
      "WorkflowRunId": {
        "type": "string",
        "format": "uuid",
        "description": "Workflow run UUID"
      },
      "WebhookId": {
        "type": "string",
        "format": "uuid",
        "description": "Webhook subscription UUID"
      },
      "SessionId": {
        "type": "string",
        "format": "uuid",
        "description": "Pre-screening session UUID"
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique property identifier",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "userId": {
            "type": "string",
            "description": "Owner tenant ID"
          },
          "address": {
            "type": "string",
            "description": "Street address",
            "example": "123 Main St, Apt 4B"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "City name",
            "example": "Austin"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "description": "State/province code",
            "example": "TX"
          },
          "zip": {
            "type": "string",
            "nullable": true,
            "description": "ZIP/postal code",
            "example": "78701"
          },
          "monthlyRent": {
            "type": "integer",
            "description": "Monthly rent in whole dollars (USD cents not supported)",
            "example": 2400
          },
          "bedrooms": {
            "type": "integer",
            "description": "Number of bedrooms",
            "example": 2
          },
          "bathrooms": {
            "type": "number",
            "description": "Number of bathrooms (supports 0.5 increments)",
            "example": 1.5
          },
          "features": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            },
            "description": "List of property features/amenities",
            "example": [
              "dishwasher",
              "in-unit laundry",
              "balcony"
            ]
          },
          "availabilityDate": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 date when the property becomes available (YYYY-MM-DD)",
            "example": "2026-03-01"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "rented",
              "inactive",
              "archived"
            ],
            "description": "Current property status. 'active' = listed and visible to prospects."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Free-text property description shown to prospects"
          },
          "ownerId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Optional reference to the property owner contact record"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 last-updated timestamp"
          }
        },
        "required": [
          "id",
          "userId",
          "address",
          "city",
          "state",
          "zip",
          "monthlyRent",
          "bedrooms",
          "bathrooms",
          "features",
          "availabilityDate",
          "status",
          "description",
          "ownerId",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code",
                "example": "validation_error"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description",
                "example": "Request validation failed"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string",
                      "example": "monthlyRent"
                    },
                    "message": {
                      "type": "string",
                      "example": "Monthly rent must be positive"
                    }
                  },
                  "required": [
                    "field",
                    "message"
                  ]
                },
                "description": "Per-field validation errors (only present on 422)"
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "CreatePropertyRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "city": {
            "type": "string",
            "maxLength": 200
          },
          "state": {
            "type": "string",
            "maxLength": 100
          },
          "zip": {
            "type": "string",
            "maxLength": 20
          },
          "monthlyRent": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 1000000
          },
          "bedrooms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 50
          },
          "bathrooms": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200
            },
            "maxItems": 50
          },
          "availabilityDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "rented",
              "inactive",
              "archived"
            ],
            "default": "active"
          },
          "isPublic": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 5000
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200
            },
            "maxItems": 50
          },
          "petPolicy": {
            "type": "string",
            "enum": [
              "allowed",
              "not-allowed",
              "negotiable"
            ]
          },
          "parking": {
            "type": "string",
            "enum": [
              "included",
              "available",
              "none"
            ]
          },
          "laundry": {
            "type": "string",
            "enum": [
              "in-unit",
              "in-building",
              "none"
            ]
          },
          "leaseMinMonths": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 120
          },
          "leaseMaxMonths": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 120
          },
          "moveInDate": {
            "type": "string",
            "format": "date"
          },
          "depositAmount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000
          },
          "utilitiesIncluded": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200
            },
            "maxItems": 50
          },
          "squareFootage": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 1000000
          },
          "yearBuilt": {
            "type": "integer",
            "minimum": 1800,
            "maximum": 2026
          },
          "neighborhoodDescription": {
            "type": "string",
            "maxLength": 2000
          },
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          },
          "internalNotes": {
            "type": "string",
            "maxLength": 5000
          }
        },
        "required": [
          "address",
          "monthlyRent",
          "bedrooms",
          "bathrooms"
        ]
      },
      "UpdatePropertyRequest": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "city": {
            "type": "string",
            "maxLength": 200
          },
          "state": {
            "type": "string",
            "maxLength": 100
          },
          "zip": {
            "type": "string",
            "maxLength": 20
          },
          "monthlyRent": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 1000000
          },
          "bedrooms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 50
          },
          "bathrooms": {
            "type": "number",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 50
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200
            },
            "maxItems": 50
          },
          "availabilityDate": {
            "type": "string",
            "format": "date"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "rented",
              "inactive",
              "archived"
            ]
          },
          "isPublic": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 5000
          },
          "ownerId": {
            "type": "string",
            "format": "uuid"
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200
            },
            "maxItems": 50
          },
          "petPolicy": {
            "type": "string",
            "enum": [
              "allowed",
              "not-allowed",
              "negotiable"
            ]
          },
          "parking": {
            "type": "string",
            "enum": [
              "included",
              "available",
              "none"
            ]
          },
          "laundry": {
            "type": "string",
            "enum": [
              "in-unit",
              "in-building",
              "none"
            ]
          },
          "leaseMinMonths": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 120
          },
          "leaseMaxMonths": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 120
          },
          "moveInDate": {
            "type": "string",
            "format": "date"
          },
          "depositAmount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 1000000
          },
          "utilitiesIncluded": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 200
            },
            "maxItems": 50
          },
          "squareFootage": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 1000000
          },
          "yearBuilt": {
            "type": "integer",
            "minimum": 1800,
            "maximum": 2026
          },
          "neighborhoodDescription": {
            "type": "string",
            "maxLength": 2000
          },
          "url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri"
          },
          "internalNotes": {
            "type": "string",
            "maxLength": 5000
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique contact identifier"
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Contact full name",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "nullable": true,
            "description": "Contact email address",
            "example": "jane@example.com"
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Contact phone number in E.164 format",
            "example": "+15125551234"
          },
          "status": {
            "type": "string",
            "enum": [
              "prospect",
              "scheduled",
              "applicant",
              "renter",
              "archived"
            ],
            "description": "Contact lifecycle stage. 'prospect' = new inquiry, 'scheduled' = has a showing booked, 'applicant' = applied, 'renter' = active tenant, 'archived' = closed."
          },
          "channelPreference": {
            "type": "string",
            "nullable": true,
            "description": "Preferred messaging channel",
            "example": "whatsapp"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "How the contact was acquired",
            "example": "telegram"
          },
          "referralSource": {
            "type": "string",
            "nullable": true,
            "description": "External referral source"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 last-updated timestamp"
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "phone",
          "status",
          "channelPreference",
          "source",
          "referralSource",
          "createdAt",
          "updatedAt"
        ]
      },
      "UpdateContact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "maxLength": 200,
            "format": "email"
          },
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "status": {
            "type": "string",
            "enum": [
              "prospect",
              "scheduled",
              "applicant",
              "renter",
              "archived"
            ]
          },
          "role": {
            "type": "string",
            "enum": [
              "prospect",
              "tenant",
              "landlord",
              "property_manager",
              "vendor",
              "other"
            ]
          },
          "channelPreference": {
            "type": "string",
            "maxLength": 50
          },
          "source": {
            "type": "string",
            "maxLength": 100
          },
          "referralSource": {
            "type": "string",
            "maxLength": 200
          },
          "language": {
            "type": "string",
            "maxLength": 10
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "maxLength": 5000
          }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique conversation identifier"
          },
          "contactId": {
            "type": "string",
            "format": "uuid",
            "description": "Contact this conversation belongs to"
          },
          "channel": {
            "type": "string",
            "description": "Channel the conversation is on (whatsapp, telegram, sms, gmail)",
            "example": "whatsapp"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ],
            "description": "Conversation status. 'active' = ongoing, 'archived' = closed."
          },
          "lastMessageAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp of the most recent message"
          },
          "messageCount": {
            "type": "integer",
            "description": "Total messages in this conversation"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          }
        },
        "required": [
          "id",
          "contactId",
          "channel",
          "status",
          "lastMessageAt",
          "messageCount",
          "createdAt"
        ]
      },
      "ConversationMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique message identifier"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ],
            "description": "'inbound' = from contact, 'outbound' = from agent/AI"
          },
          "content": {
            "type": "string",
            "description": "Message text content"
          },
          "channel": {
            "type": "string",
            "description": "Channel the message was sent/received on"
          },
          "sentAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the message was sent"
          }
        },
        "required": [
          "id",
          "conversationId",
          "direction",
          "content",
          "channel",
          "sentAt"
        ]
      },
      "Showing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique showing identifier"
          },
          "propertyId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Property being shown"
          },
          "contactId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Contact attending the showing"
          },
          "title": {
            "type": "string",
            "description": "Showing title",
            "example": "Showing at 123 Main St"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Additional showing details"
          },
          "startTime": {
            "type": "string",
            "description": "ISO 8601 start time",
            "example": "2026-03-15T14:00:00Z"
          },
          "endTime": {
            "type": "string",
            "description": "ISO 8601 end time",
            "example": "2026-03-15T14:30:00Z"
          },
          "timeZone": {
            "type": "string",
            "nullable": true,
            "description": "IANA timezone (e.g. 'America/Chicago')"
          },
          "location": {
            "type": "string",
            "nullable": true,
            "description": "Meeting location or address"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "completed",
              "cancelled"
            ],
            "description": "Showing lifecycle status. 'pending' = awaiting confirmation, 'confirmed' = both parties confirmed."
          },
          "notes": {
            "type": "string",
            "nullable": true,
            "description": "Internal notes (not shown to contacts)"
          },
          "source": {
            "type": "string",
            "description": "How the showing was created",
            "example": "internal"
          },
          "type": {
            "type": "string",
            "enum": [
              "showing"
            ]
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 last-updated timestamp"
          }
        },
        "required": [
          "id",
          "propertyId",
          "contactId",
          "title",
          "description",
          "startTime",
          "endTime",
          "timeZone",
          "location",
          "status",
          "notes",
          "source",
          "type",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateShowing": {
        "type": "object",
        "properties": {
          "propertyId": {
            "type": "string",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "timeZone": {
            "type": "string",
            "maxLength": 50
          },
          "location": {
            "type": "string",
            "maxLength": 500
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "propertyId",
          "contactId",
          "title",
          "startTime",
          "endTime"
        ]
      },
      "UpdateShowing": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 2000
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "timeZone": {
            "type": "string",
            "maxLength": 50
          },
          "location": {
            "type": "string",
            "maxLength": 500
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "cancelled",
              "completed"
            ]
          },
          "notes": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique event identifier"
          },
          "propertyId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "title": {
            "type": "string",
            "description": "Event title"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "startTime": {
            "type": "string",
            "description": "ISO 8601 start time"
          },
          "endTime": {
            "type": "string",
            "description": "ISO 8601 end time"
          },
          "timeZone": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "completed",
              "cancelled"
            ],
            "description": "Event status"
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "showing",
              "call",
              "inspection",
              "meeting"
            ],
            "description": "Event type. 'showing' = property viewing, 'call' = phone/video call, 'inspection' = property inspection, 'meeting' = general meeting."
          },
          "source": {
            "type": "string",
            "description": "Event origin (internal, google_calendar, calcom)"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "propertyId",
          "contactId",
          "title",
          "description",
          "startTime",
          "endTime",
          "timeZone",
          "location",
          "status",
          "notes",
          "type",
          "source",
          "createdAt",
          "updatedAt"
        ]
      },
      "SentMessage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "content": {
            "type": "string",
            "description": "The message body that was sent"
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "gmail",
              "telegram"
            ],
            "description": "Channel the message was delivered through"
          },
          "direction": {
            "type": "string",
            "enum": [
              "outbound"
            ]
          },
          "sentAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the message was sent"
          }
        },
        "required": [
          "id",
          "content",
          "channel",
          "direction",
          "sentAt"
        ]
      },
      "SendMessage": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid"
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "gmail",
              "telegram"
            ]
          }
        },
        "required": [
          "contactId",
          "body"
        ]
      },
      "Draft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "format": "uuid",
            "description": "Target contact for this draft"
          },
          "propertyId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Optional property context for the draft"
          },
          "content": {
            "type": "string",
            "description": "Draft message body"
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "gmail",
              "telegram"
            ],
            "description": "Target delivery channel"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sent",
              "expired"
            ],
            "description": "Draft lifecycle status. 'pending' = editable, 'sent' = delivered, 'expired' = auto-expired (drafts expire after 24 hours)."
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 auto-expiration time (24h after creation)"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "contactId",
          "propertyId",
          "content",
          "channel",
          "status",
          "expiresAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateDraft": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid"
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "gmail",
              "telegram"
            ]
          },
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "recipientPhone": {
            "type": "string",
            "maxLength": 30
          },
          "recipientEmail": {
            "type": "string",
            "maxLength": 200,
            "format": "email"
          }
        },
        "required": [
          "contactId",
          "channel",
          "body"
        ]
      },
      "UpdateDraft": {
        "type": "object",
        "properties": {
          "body": {
            "type": "string",
            "minLength": 1,
            "maxLength": 10000
          },
          "channel": {
            "type": "string",
            "enum": [
              "sms",
              "whatsapp",
              "email",
              "gmail",
              "telegram"
            ]
          },
          "recipientPhone": {
            "type": "string",
            "maxLength": 30
          },
          "recipientEmail": {
            "type": "string",
            "maxLength": 200,
            "format": "email"
          }
        }
      },
      "Followup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "format": "uuid",
            "description": "Contact to follow up with"
          },
          "conversationId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Conversation context for the follow-up"
          },
          "message": {
            "type": "string",
            "description": "Follow-up message content"
          },
          "scheduledFor": {
            "type": "string",
            "description": "ISO 8601 datetime when the follow-up will be sent"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "sent",
              "cancelled",
              "failed"
            ],
            "description": "Follow-up lifecycle. 'pending' = scheduled and waiting, 'processing' = currently being sent, 'sent' = delivered, 'cancelled' = manually cancelled, 'failed' = delivery failed."
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "contactId",
          "conversationId",
          "message",
          "scheduledFor",
          "status",
          "createdAt"
        ]
      },
      "CreateFollowup": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid"
          },
          "sequenceStep": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "default": 1
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "contactId",
          "conversationId",
          "scheduledAt"
        ]
      },
      "WorkflowTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Workflow display name",
            "example": "Pre-screening"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug for public chat links",
            "example": "prescreening"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Workflow description shown on the public chat landing page"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this workflow can accept new runs"
          },
          "isPublic": {
            "type": "boolean",
            "description": "Whether this workflow is accessible via the public chat URL (/p/{slug}/{workflowSlug})"
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "description",
          "isActive",
          "isPublic",
          "createdAt"
        ]
      },
      "WorkflowTemplateFull": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Workflow display name",
            "example": "Pre-screening"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug for public chat links",
            "example": "prescreening"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Workflow description"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            },
            "description": "Ordered array of workflow step definitions"
          },
          "triggerType": {
            "type": "string",
            "enum": [
              "manual",
              "deep_link",
              "automatic",
              "scheduled"
            ],
            "description": "How this workflow is triggered"
          },
          "triggerConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Trigger-specific configuration"
          },
          "exitConditions": {
            "type": "object",
            "properties": {
              "maxMessages": {
                "type": "number"
              },
              "timeoutDays": {
                "type": "number"
              }
            },
            "required": [
              "maxMessages",
              "timeoutDays"
            ],
            "description": "Conditions that end a workflow run"
          },
          "questionConfig": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Question display/validation config for OQAAT form"
          },
          "completionConfig": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Completion screen config"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether this workflow can accept new runs"
          },
          "isPublic": {
            "type": "boolean",
            "description": "Whether accessible via public chat URL"
          },
          "introMessage": {
            "type": "string",
            "nullable": true,
            "description": "Opening message shown to contacts"
          },
          "voiceConfig": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "Voice agent configuration"
          },
          "currentVersion": {
            "type": "number",
            "description": "Current template version number"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "description",
          "steps",
          "triggerType",
          "triggerConfig",
          "exitConditions",
          "questionConfig",
          "completionConfig",
          "isActive",
          "isPublic",
          "introMessage",
          "voiceConfig",
          "currentVersion",
          "createdAt",
          "updatedAt"
        ]
      },
      "CreateWorkflowTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "maxLength": 500
          },
          "steps": {
            "type": "array",
            "description": "Workflow step definitions (discriminated union on `type`)",
            "items": {
              "type": "object"
            }
          },
          "triggerType": {
            "type": "string",
            "enum": [
              "manual",
              "deep_link",
              "automatic",
              "scheduled"
            ]
          },
          "triggerConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "default": {}
          },
          "exitConditions": {
            "type": "object",
            "properties": {
              "maxMessages": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "default": 5
              },
              "timeoutDays": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "default": 30
              }
            }
          },
          "questionConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "completionConfig": {
            "type": "object",
            "properties": {
              "showMatchedProperties": {
                "type": "boolean"
              },
              "maxResults": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              }
            }
          },
          "isPublic": {
            "type": "boolean",
            "default": false
          },
          "introMessage": {
            "type": "string",
            "maxLength": 2000
          },
          "voiceConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "isActive": {
            "type": "boolean",
            "default": true
          }
        },
        "required": [
          "name",
          "steps",
          "triggerType"
        ]
      },
      "UpdateWorkflowTemplate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "description": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          },
          "steps": {
            "type": "array",
            "description": "Workflow step definitions (discriminated union on `type`)",
            "items": {
              "type": "object"
            }
          },
          "triggerType": {
            "type": "string",
            "enum": [
              "manual",
              "deep_link",
              "automatic",
              "scheduled"
            ]
          },
          "triggerConfig": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "exitConditions": {
            "type": "object",
            "properties": {
              "maxMessages": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "default": 5
              },
              "timeoutDays": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "default": 30
              }
            }
          },
          "questionConfig": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "completionConfig": {
            "type": "object",
            "nullable": true,
            "properties": {
              "showMatchedProperties": {
                "type": "boolean"
              },
              "maxResults": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true
              }
            }
          },
          "isPublic": {
            "type": "boolean"
          },
          "introMessage": {
            "type": "string",
            "nullable": true,
            "maxLength": 2000
          },
          "voiceConfig": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            }
          },
          "isActive": {
            "type": "boolean"
          }
        }
      },
      "WorkflowRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "templateId": {
            "type": "string",
            "format": "uuid",
            "description": "Workflow template this run was created from"
          },
          "contactId": {
            "type": "string",
            "format": "uuid",
            "description": "Contact running through this workflow"
          },
          "propertyId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Optional property context for property-scoped workflows"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "running",
              "paused",
              "completed",
              "cancelled",
              "failed"
            ],
            "description": "Run lifecycle. 'pending' = queued, 'running' = actively executing steps, 'paused' = waiting for contact reply, 'completed' = all steps done, 'cancelled' = manually stopped, 'failed' = error occurred."
          },
          "currentStepIndex": {
            "type": "number",
            "description": "Zero-based index of the step currently being executed"
          },
          "messagesSent": {
            "type": "number",
            "description": "Total messages sent during this run"
          },
          "exitReason": {
            "type": "string",
            "nullable": true,
            "description": "Why the run ended (null if still active)"
          },
          "startedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp when the run started"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp when the run finished (null if still active)"
          }
        },
        "required": [
          "id",
          "templateId",
          "contactId",
          "propertyId",
          "status",
          "currentStepIndex",
          "messagesSent",
          "exitReason",
          "startedAt",
          "completedAt"
        ]
      },
      "TriggerWorkflow": {
        "type": "object",
        "properties": {
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "contactId": {
            "type": "string",
            "format": "uuid"
          },
          "propertyId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "workflowId",
          "contactId"
        ]
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint that receives webhook payloads",
            "example": "https://example.com/webhooks/rentalot"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "inquiry.created",
                "message.received",
                "message.sent",
                "showing.booked",
                "showing.cancelled",
                "contact.updated",
                "property.updated",
                "workflow.completed",
                "workflow.created",
                "workflow.updated",
                "workflow.deleted"
              ]
            },
            "description": "Event types this webhook subscribes to. Available events: inquiry.created (new prospect inquiry), message.received (inbound message from contact), message.sent (outbound message to contact), showing.booked (new showing scheduled), showing.cancelled (showing cancelled), contact.updated (contact record changed), property.updated (property record changed), workflow.completed (workflow run finished), workflow.created (new template created), workflow.updated (template modified), workflow.deleted (template removed)."
          },
          "active": {
            "type": "boolean",
            "description": "Whether the webhook is currently delivering events"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Human-readable label for this webhook"
          },
          "lastDeliveredAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp of last successful delivery"
          },
          "lastFailedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp of last failed delivery attempt"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "active",
          "description",
          "lastDeliveredAt",
          "lastFailedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "WebhookSubscriptionWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookSubscription"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "HMAC-SHA256 signing secret. Only returned once at creation time -- store it securely. Use it to verify webhook payloads via the X-Webhook-Signature header.",
                "example": "whsec_abc123..."
              }
            },
            "required": [
              "secret"
            ]
          }
        ]
      },
      "CreateWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "inquiry.created",
                "message.received",
                "message.sent",
                "showing.booked",
                "showing.cancelled",
                "contact.updated",
                "property.updated",
                "workflow.completed",
                "workflow.created",
                "workflow.updated",
                "workflow.deleted",
                "bulk_import.completed"
              ]
            },
            "minItems": 1,
            "maxItems": 12
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "UpdateWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "inquiry.created",
                "message.received",
                "message.sent",
                "showing.booked",
                "showing.cancelled",
                "contact.updated",
                "property.updated",
                "workflow.completed",
                "workflow.created",
                "workflow.updated",
                "workflow.deleted",
                "bulk_import.completed"
              ]
            },
            "minItems": 1,
            "maxItems": 12
          },
          "active": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        }
      },
      "CreateContact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "email": {
            "type": "string",
            "maxLength": 200,
            "format": "email"
          },
          "phone": {
            "type": "string",
            "maxLength": 30
          },
          "status": {
            "type": "string",
            "enum": [
              "prospect",
              "scheduled",
              "applicant",
              "renter",
              "archived"
            ],
            "default": "prospect"
          },
          "role": {
            "type": "string",
            "enum": [
              "prospect",
              "tenant",
              "landlord",
              "property_manager",
              "vendor",
              "other"
            ],
            "default": "prospect"
          },
          "channelPreference": {
            "type": "string",
            "maxLength": 50
          },
          "source": {
            "type": "string",
            "maxLength": 100
          },
          "referralSource": {
            "type": "string",
            "maxLength": 200
          },
          "language": {
            "type": "string",
            "maxLength": 10,
            "default": "en"
          }
        },
        "required": [
          "name"
        ]
      },
      "ConversationSearchResult": {
        "type": "object",
        "properties": {
          "messageId": {
            "type": "string",
            "format": "uuid",
            "description": "Matching message ID"
          },
          "content": {
            "type": "string",
            "description": "Message content containing the search term"
          },
          "direction": {
            "type": "string",
            "enum": [
              "inbound",
              "outbound"
            ],
            "description": "Message direction"
          },
          "channel": {
            "type": "string",
            "description": "Channel the message was on"
          },
          "sentAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp"
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "description": "Conversation this message belongs to"
          },
          "contactName": {
            "type": "string",
            "nullable": true,
            "description": "Name of the contact in the conversation"
          }
        },
        "required": [
          "messageId",
          "content",
          "direction",
          "channel",
          "sentAt",
          "conversationId",
          "contactName"
        ]
      },
      "AvailabilitySlot": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "description": "Date of the slot (YYYY-MM-DD)",
            "example": "2026-03-15"
          },
          "start": {
            "type": "string",
            "description": "Slot start time (ISO 8601)",
            "example": "2026-03-15T14:00:00.000Z"
          },
          "end": {
            "type": "string",
            "description": "Slot end time (ISO 8601)",
            "example": "2026-03-15T15:00:00.000Z"
          }
        },
        "required": [
          "date",
          "start",
          "end"
        ]
      },
      "PropertyImage": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Image UUID"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Public URL for the image (served via Cloudflare Image Transformations)"
          },
          "altText": {
            "type": "string",
            "nullable": true,
            "description": "Alt text for accessibility"
          },
          "order": {
            "type": "integer",
            "description": "Display order (0-indexed)"
          }
        },
        "required": [
          "id",
          "url",
          "altText",
          "order"
        ]
      },
      "V1PresignImageRequest": {
        "type": "object",
        "properties": {
          "fileName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "image/heic"
            ]
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 10485760
          }
        },
        "required": [
          "fileName",
          "contentType",
          "sizeBytes"
        ]
      },
      "V1ConfirmImageRequest": {
        "type": "object",
        "properties": {
          "r2Key": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "contentType": {
            "type": "string",
            "enum": [
              "image/jpeg",
              "image/png",
              "image/webp",
              "image/heic"
            ]
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 10485760
          },
          "altText": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "r2Key",
          "contentType",
          "sizeBytes"
        ]
      },
      "V1ReorderImagesRequest": {
        "type": "object",
        "properties": {
          "imageIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "minItems": 1,
            "maxItems": 20
          }
        },
        "required": [
          "imageIds"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Session UUID"
          },
          "contactId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Contact who completed this session"
          },
          "workflowTemplateId": {
            "type": "string",
            "format": "uuid",
            "description": "Workflow template used for this session"
          },
          "submission": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Collected answers from the pre-screening form (key-value pairs)",
            "example": {
              "fullName": "Jane Doe",
              "moveInDate": "2026-04-01",
              "budget": 2500
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "completed",
              "expired",
              "draft"
            ],
            "description": "Session lifecycle. 'active' = in progress, 'completed' = all steps done, 'expired' = timed out (30 days), 'draft' = partial data from voice screening."
          },
          "reviewStatus": {
            "type": "string",
            "enum": [
              "pending_review",
              "approved",
              "denied"
            ],
            "description": "Agent review status. 'pending_review' = awaiting agent decision, 'approved' = prospect accepted, 'denied' = prospect rejected."
          },
          "reviewNotes": {
            "type": "string",
            "nullable": true,
            "description": "Optional notes from the agent's review"
          },
          "reviewedAt": {
            "type": "string",
            "nullable": true,
            "description": "ISO 8601 timestamp when the session was reviewed"
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 last-updated timestamp"
          },
          "expiresAt": {
            "type": "string",
            "description": "ISO 8601 expiration timestamp"
          }
        },
        "required": [
          "id",
          "contactId",
          "workflowTemplateId",
          "submission",
          "status",
          "reviewStatus",
          "reviewNotes",
          "reviewedAt",
          "createdAt",
          "updatedAt",
          "expiresAt"
        ]
      },
      "ReviewSession": {
        "type": "object",
        "properties": {
          "reviewStatus": {
            "type": "string",
            "enum": [
              "approved",
              "denied"
            ]
          },
          "reviewNotes": {
            "type": "string",
            "maxLength": 2000
          }
        },
        "required": [
          "reviewStatus"
        ]
      },
      "WorkingHours": {
        "type": "object",
        "nullable": true,
        "properties": {
          "start": {
            "type": "string",
            "description": "Start time in HH:mm (24h) format",
            "example": "09:00"
          },
          "end": {
            "type": "string",
            "description": "End time in HH:mm (24h) format",
            "example": "17:00"
          },
          "days": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "ISO weekday numbers (1=Mon, 7=Sun)",
            "example": [
              1,
              2,
              3,
              4,
              5
            ]
          }
        },
        "required": [
          "start",
          "end",
          "days"
        ],
        "description": "Agent working hours"
      },
      "EmailPreferences": {
        "type": "object",
        "properties": {
          "marketing": {
            "type": "boolean",
            "description": "Receive marketing emails"
          },
          "applicationNotifications": {
            "type": "boolean",
            "description": "Receive application notification emails"
          },
          "notifyProspectOnReview": {
            "type": "boolean",
            "description": "Email prospect when application is reviewed"
          },
          "emailProspectMatches": {
            "type": "boolean",
            "description": "Email prospects matching properties"
          },
          "schedulingEmailEnabled": {
            "type": "boolean",
            "description": "Enable scheduling confirmation emails"
          }
        },
        "required": [
          "marketing",
          "applicationNotifications",
          "notifyProspectOnReview",
          "emailProspectMatches",
          "schedulingEmailEnabled"
        ],
        "description": "Email notification preferences"
      },
      "AgentSettings": {
        "type": "object",
        "properties": {
          "agentName": {
            "type": "string",
            "nullable": true,
            "description": "Display name for the AI agent"
          },
          "customInstructions": {
            "type": "string",
            "nullable": true,
            "description": "Custom instructions for the AI agent"
          },
          "timezone": {
            "type": "string",
            "nullable": true,
            "description": "IANA timezone identifier",
            "example": "America/New_York"
          },
          "workingHours": {
            "$ref": "#/components/schemas/WorkingHours"
          },
          "defaultShowingDuration": {
            "type": "number",
            "description": "Default showing duration in minutes (30, 45, or 60)",
            "example": 30
          },
          "emailSignOff": {
            "type": "string",
            "nullable": true,
            "description": "Email signature sign-off text"
          },
          "publicChatIntro": {
            "type": "string",
            "nullable": true,
            "description": "Custom intro message for public chat"
          },
          "publicChatEnabled": {
            "type": "boolean",
            "description": "Whether public chat is enabled"
          },
          "profilePublic": {
            "type": "boolean",
            "description": "Whether the agent profile page is public"
          },
          "licenseNumber": {
            "type": "string",
            "nullable": true,
            "description": "Real estate license number"
          },
          "publicPhone": {
            "type": "string",
            "nullable": true,
            "description": "Public-facing phone number"
          },
          "followupEnabled": {
            "type": "boolean",
            "description": "Whether automated follow-ups are enabled"
          },
          "followupIdleHours": {
            "type": "number",
            "description": "Hours of inactivity before follow-up (24, 48, or 72)"
          },
          "followupMaxSteps": {
            "type": "number",
            "description": "Max follow-up messages in a sequence (1-3)"
          },
          "voiceEnabled": {
            "type": "boolean",
            "description": "Whether voice agent is enabled"
          },
          "voicePromptAddition": {
            "type": "string",
            "nullable": true,
            "description": "Additional voice agent prompt instructions"
          },
          "voiceFirstMessage": {
            "type": "string",
            "nullable": true,
            "description": "Custom first message for voice agent"
          },
          "allowInternationalPhone": {
            "type": "boolean",
            "description": "Accept international phone numbers in pre-screening"
          },
          "bookingUrl": {
            "type": "string",
            "nullable": true,
            "description": "External scheduling/booking URL"
          },
          "externalLinkUrl": {
            "type": "string",
            "nullable": true,
            "description": "External link URL for public pages"
          },
          "externalLinkLabel": {
            "type": "string",
            "nullable": true,
            "description": "Label for the external link button"
          },
          "showExternalLinkOnProfile": {
            "type": "boolean",
            "description": "Show external link on agent profile page"
          },
          "showExternalLinkOnCompletion": {
            "type": "boolean",
            "description": "Show external link on completion screen"
          },
          "callHumanEnabled": {
            "type": "boolean",
            "description": "Show call button on public pages"
          },
          "followupTemplates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "step": {
                  "type": "number",
                  "description": "Sequence step (1, 2, or 3)"
                },
                "template": {
                  "type": "string",
                  "description": "Message template with {contactName}, {agentName}, {propertyAddress} placeholders"
                }
              },
              "required": [
                "step",
                "template"
              ]
            },
            "description": "User-defined follow-up message templates. When set, skip LLM generation for that step."
          },
          "emailPreferences": {
            "$ref": "#/components/schemas/EmailPreferences"
          }
        },
        "required": [
          "agentName",
          "customInstructions",
          "timezone",
          "workingHours",
          "defaultShowingDuration",
          "emailSignOff",
          "publicChatIntro",
          "publicChatEnabled",
          "profilePublic",
          "licenseNumber",
          "publicPhone",
          "followupEnabled",
          "followupIdleHours",
          "followupMaxSteps",
          "voiceEnabled",
          "voicePromptAddition",
          "voiceFirstMessage",
          "allowInternationalPhone",
          "bookingUrl",
          "externalLinkUrl",
          "externalLinkLabel",
          "showExternalLinkOnProfile",
          "showExternalLinkOnCompletion",
          "callHumanEnabled",
          "followupTemplates",
          "emailPreferences"
        ]
      },
      "FollowupSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether automated follow-ups are enabled"
          },
          "idleHours": {
            "type": "number",
            "description": "Hours of inactivity before sending a follow-up",
            "example": 24
          },
          "maxSteps": {
            "type": "number",
            "description": "Maximum follow-up messages in a sequence",
            "example": 3
          }
        },
        "required": [
          "enabled",
          "idleHours",
          "maxSteps"
        ]
      }
    },
    "parameters": {
      "PropertyId": {
        "schema": {
          "$ref": "#/components/schemas/PropertyId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "ContactId": {
        "schema": {
          "$ref": "#/components/schemas/ContactId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "ConversationId": {
        "schema": {
          "$ref": "#/components/schemas/ConversationId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "ShowingId": {
        "schema": {
          "$ref": "#/components/schemas/ShowingId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "DraftId": {
        "schema": {
          "$ref": "#/components/schemas/DraftId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "FollowupId": {
        "schema": {
          "$ref": "#/components/schemas/FollowupId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "WorkflowId": {
        "schema": {
          "$ref": "#/components/schemas/WorkflowId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "WorkflowRunId": {
        "schema": {
          "$ref": "#/components/schemas/WorkflowRunId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "WebhookId": {
        "schema": {
          "$ref": "#/components/schemas/WebhookId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      },
      "SessionId": {
        "schema": {
          "$ref": "#/components/schemas/SessionId"
        },
        "required": true,
        "name": "id",
        "in": "path"
      }
    }
  },
  "paths": {
    "/api/v1/properties": {
      "post": {
        "operationId": "createProperty",
        "summary": "Create a property",
        "description": "Use to add a new rental property listing to the authenticated tenant's portfolio. Provide at minimum the address, monthly rent, bedrooms, and bathrooms. The property is created with status 'active' by default (configurable via the `status` field). Side effects: increments daily/monthly write counters. Requires Pro or Scale tier for API write access. Rate limit: Pro 20 WPM / 200 daily / 5,000 monthly; Scale 60 WPM / 1,000 daily / 25,000 monthly.",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePropertyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Property"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Ensure your `Authorization: Bearer ra_...` header is set with a valid, non-revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed. Check the `details` array for per-field errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Check `X-RateLimit-Reset` header for when to retry, or `Retry-After` header (seconds). Rate limits are per-tier: Starter 30 RPM, Pro 120 RPM, Scale 600 RPM.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate limit resets. Wait at least this long before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listProperties",
        "summary": "List properties",
        "description": "Use to list rental properties owned by the authenticated tenant. Supports pagination via `page` and `limit` query parameters. Returns at most `limit` properties per page (max page size is tier-dependent: Starter 50, Pro 100, Scale 200). Results are ordered by creation date. Read-only, no side effects.",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "description": "Page number for pagination (1-indexed). Default: 1.",
              "example": 1
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 0,
              "exclusiveMinimum": true,
              "maximum": 100,
              "description": "Items per page. Default: 20. Max: 100 (tier-dependent: Starter 50, Pro 100, Scale 200).",
              "example": 20
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of properties",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Property"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number",
                          "description": "Current page number",
                          "example": 1
                        },
                        "limit": {
                          "type": "number",
                          "description": "Items per page",
                          "example": 20
                        },
                        "total": {
                          "type": "number",
                          "description": "Total items matching the query",
                          "example": 42
                        },
                        "totalPages": {
                          "type": "number",
                          "description": "Total number of pages",
                          "example": 3
                        }
                      },
                      "required": [
                        "page",
                        "limit",
                        "total",
                        "totalPages"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "pagination"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Ensure your `Authorization: Bearer ra_...` header is set with a valid, non-revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Check `X-RateLimit-Reset` header for when to retry, or `Retry-After` header (seconds). Rate limits are per-tier: Starter 30 RPM, Pro 120 RPM, Scale 600 RPM.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate limit resets. Wait at least this long before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/properties/{id}": {
      "get": {
        "operationId": "getProperty",
        "summary": "Get a property",
        "description": "Use to retrieve a single property by its UUID. Returns the full property record including all enriched fields (amenities, pet policy, parking, lease terms, etc.). Returns 404 if the property does not exist or belongs to a different tenant. Read-only, no side effects.",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PropertyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Property found",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Property"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Ensure your `Authorization: Bearer ra_...` header is set with a valid, non-revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. Either the ID does not exist, or it belongs to a different tenant (resources are tenant-isolated).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Check `X-RateLimit-Reset` header for when to retry, or `Retry-After` header (seconds). Rate limits are per-tier: Starter 30 RPM, Pro 120 RPM, Scale 600 RPM.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate limit resets. Wait at least this long before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateProperty",
        "summary": "Update a property",
        "description": "Use to partially update a property. Send only the fields you want to change -- all fields are optional, but at least one must be provided. Common use cases: update rent amount, change status to 'rented' or 'inactive', update availability date. Side effects: increments daily/monthly write counters, may trigger 'property.updated' webhook if subscribed. Requires Pro or Scale tier for API write access.",
        "tags": [
          "Properties"
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PropertyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePropertyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property updated",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Property"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key. Ensure your `Authorization: Bearer ra_...` header is set with a valid, non-revoked API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found. Either the ID does not exist, or it belongs to a different tenant (resources are tenant-isolated).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request body validation failed. Check the `details` array for per-field errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Check `X-RateLimit-Reset` header for when to retry, or `Retry-After` header (seconds). Rate limits are per-tier: Starter 30 RPM, Pro 120 RPM, Scale 600 RPM.",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Maximum requests allowed per minute for your tier",
                "schema": {
                  "type": "integer",
                  "example": 120
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Requests remaining in the current 60-second window",
                "schema": {
                  "type": "integer",
                  "example": 117
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix epoch timestamp (seconds) when the current window resets",
                "schema": {
                  "type": "integer",
                  "example": 1738800060
                }
              },
              "X-RateLimit-Resource": {
                "description": "The API resource this request counted against (e.g. 'properties', 'contacts')",
                "schema": {
                  "type": "string",
                  "example": "properties"
                }
              },
              "Retry-After": {
                "description": "Seconds until the rate limit resets. Wait at least this long before retrying.",
                "schema": {
                  "type": "integer",
                  "example": 12
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProperty",
        "summary": "Delete a property",
[...]
